<h6>Welcome to {{ hotelName }}</h6>
<button (click)="toggle()">
  <p *ngIf="hidden == true">Show more</p>
  <p *ngIf="hidden == false">Show less</p>
</button>
<!--
<div [hidden] = "hidden" >
  <h6>Number of rooms = {{numberOfRooms}}</h6>
</div>
-->
<div *ngIf="room.availableRoom > 0" [hidden]="hidden">
  <table>
    <thead>
      <tr>
        <th>Room Number</th>
        <th>Type</th>
        <th>Price</th>
        <th>Amenities</th>
        <th>Checkin/Checkout Time</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let room of roomList">
        <td>{{ room.roomNumber }}</td>
        <td>{{ room.roomType }}</td>
        <td>{{ room.price }}</td>
        <td>{{ room.amenities }}</td>
        <td>{{ room.checkinTime }}/{{room.checkoutTime}}</td>
      </tr>
    </tbody>
  </table>
</div>
