<div class="container">
  <div *ngIf="!selectedRoom">
    <h6>Welcome to {{ hotelName }}</h6>
  </div>
  <div *ngIf="selectedRoom">
    <h6>You have selected the following room : {{selectedRoom |json}}</h6>
  </div>

  <button (click)="toggle()" class="btn btn-success" *ngIf="hidden == true">
    Show more
  </button>
  <button (click)="toggle()" class="btn btn-danger" *ngIf="hidden == false">
    Show less
  </button>
  <!--
  <div [hidden] = "hidden" >
    <h6>Number of rooms = {{numberOfRooms}}</h6>
  </div>
  -->
  <div *ngIf="room.availableRoom > 0" [hidden]="hidden">
    <!--
      That is how we pass data between component
      roomsListInput as a variable on the roomlist component,
      here it is used as a properrty on the component
    -->
    <button class="btn" (click)="translate()">Traduire le titre</button>
    <app-room-list [roomsListInput] = roomList (selectedRoom)="selectRoom($event)" [title]="title"></app-room-list>
  </div>
</div>
